# Build dependencies that are available through the CI proxy. Deps that must
# come from PyPI should go in requirements-build-pypi.in.
calver
cffi
coherent-licensed
cython
dunamai
flit-core
flit-scm
hatch-fancy-pypi-readme
hatch-vcs
hatchling
jinja2
markupsafe
maturin
packaging
pathspec
pdm-backend
pdm-pep517
pluggy
poetry-core
pycparser
semantic-version
setuptools
setuptools-scm
tomlkit
trove-classifiers
uv-build<0.11.8  # uv-build >=0.11.8 needs rustc >=1.93 which is unavailable on RHEL 10.
uv-dynamic-versioning
wheel
